header{
    height: 100vh;
    background: url(../assets/images/fav-bg.jpg) no-repeat center center fixed #010b16;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.header-txt{
    position: absolute;
    top: 47vh;
    left: 2vw;
    text-shadow: 3px 2px 3px #000;
}