header{
    height: 100vh;
    background: url(../assets/images/peakpx.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.header-txt{
    position: absolute;
    top: 47vh;
    left: 2vw;
    text-shadow: 4px 3px 0 #2d366a;
}
