header{
    height: 100vh;
    background: url(../assets/images/peakpx.jpg) no-repeat center center fixed #010b16;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.header-txt{
    position: absolute;
    top: 47vh;
    left: 2vw;
    text-shadow: 4px 3px 0 #2d366a;
}
select, option{
    border: 0;
    border-radius: 3px;
    background-color: rgb(255 255 255 / 46%);
    transition: 0.3s;
}
select:focus, select:hover{
    outline: none;
    background-color: rgba(255, 45, 149, 0.6);
    color: #fff;
    cursor: pointer;
}
.card-title a{
    text-decoration: none!important;
    color: #fff;
    transition: text-shadow 0.3s;
}
.card-title a:hover{
    color: rgb(255, 255, 255);
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}