header{
    height: 100vh;
    background: url(../assets/images/cillian-murph.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.header-txt{
    margin-top: 43vh;
}

