header{
    height: 100vh;
    background: url(../assets/images/spiderman-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.header-txt{
    margin-top: 45vh;
}
#searchIdBtn{
    border-radius: 5px;
    height: 30px;
    width: 70px;
    border: 2px solid #bc2c83;
    background-color: #8a3e6ca1;
    color: #fff;
    text-shadow: 1px 1px 4px #000;
    transition: background-color 0.3s;
}
#searchIdBtn:hover{
    background-color: #bc2c83;
}
#searchIdBtn:active{
    transform: translateY(2px);
}

/* Remove arrows for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card{
    border: 0;
    border-radius: 0;
    background-color: #222222;
    color: #fff;
}
.card-title{
    text-shadow: #FFF 0px 0px 5px, #000 1px 0px 10px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 17px;
    font-style: italic;
}
.card-body{
    background-color: unset;
}
strong {
    color: #bc2c83;
    margin-right: 3px;
}