body{
    font-family: 'Asap Condensed', sans-serif;
}
header{
    height: 100vh;
    background-color: black;
}
nav{
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
}
