body{
    font-family: 'Asap Condensed', sans-serif;
}
header{
    height: 100vh;
    background: url(../assets/images/peakpx.jpg) no-repeat center center fixed;
    background-size: cover;
}
nav{
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(134, 176, 212);
}
#popMovCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
