body{
    font-family: 'Asap Condensed', sans-serif;
}
nav{
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(134, 176, 212);
}
.navbar-brand{
    font-family: 'Satisfy', cursive;
    font-size: 1.9em;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}
section{
    gap:2vh;
    padding: 3vh 0; 
}
.selectDiv, .leftRightBtns{
    gap: 1vw;
}
.bi-star-fill{
    color: #ff9800;
}
.logo{
    font-family: 'Satisfy', cursive;
    font-size: 1.5em;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 17px, #FF2D95 0px 0px 7px;
}
.rounded-circle{
    border: 0;
}
.p-link:hover{
    color: rgb(134, 176, 212) !important;
    text-decoration: none !important;
}
.hidden{
    display: none !important;
}
.card-body{
    background-color: rgba(0, 0, 0, 0.8);
}
.card-section{
    background-image: url(../assets/images/black-white-pattern.jpg);
    background-color: #888484;
    background-blend-mode: multiply;
    background-size: cover;
    color: #fff;
}


